@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Container {
    width: 100vw;
    height:calc(100vh - var(--navheight));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.Spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 0.50rem var(--secondary));
    opacity: 0.5;
}

.Path {
    stroke: #89c551;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
  
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.Message {
    color: var(--secondary);
    opacity: 0.2;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin-top: 50px;
}
  