* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navheight: 10vh;
    --primary: #0d0d12;
    --secondary: #f5f6ff;
    --accent: #2a2739;
}

.Navbar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary);
    height: var(--navheight);
    padding: 0 25px;
}

.logo {
    max-width: calc(var(--navheight) * 0.9); /* 8vw */
    height: auto;
    display: inline-block;
}

.Tabs {
    height: var(--navheight);

    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    z-index: 3;
}

.Arrow {
    display: none;   
}

.Arrow:hover{
    cursor: pointer;
}

.Arrow img {
    max-width: 100%;
    height: auto;

    transition: 250ms;
    filter: invert(0.5) sepia(1) saturate(0);
}

.Up {
    transform: rotate(180deg);
}

.Down {
    transform: rotate(0deg);
}

.Up:hover {
    transform: scale(1.1) rotate(180deg);
}

.Down:hover {
    transform: scale(1.1) rotate(0deg);
}

@media screen and (max-width: 828px){

    .Tabs {
        background-color: var(--primary);
        margin: 0;
        flex-direction: row;
        justify-content: space-between;

        width: 100vw;
        min-height: 10vh;
        padding: 0 30px;

        position: fixed;
        bottom: -10vh;
        left: 0;

        opacity: 0;

        transition: 250ms;
    }

    .Arrow{

        height: var(--navheight);
        width: var(--navheight);

        display: flex;
        align-items: center;
        justify-content: center;

        padding: calc(var(--navheight)/5);
        position: fixed;
        right: 0;
    }

}

.Entered {
    transform: translate(-100%, 0);
}